@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,500;1,600&display=swap');

*{
    margin:0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
    color: white;
    background: rgb(21, 24, 32);
}

.container{
    text-align: center;
    padding: 20px;
    border: 2px solid white;
    border-radius: 10px;
    margin: auto;
    margin-top: 10%;
    width: 600px;
    background: rgba(255, 255, 255, 0.233);
}
.container h1{
    color: #00fa60;
}
/* .container form input {
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    margin:10px;
    text-align: center;
    width: 400px;
    border-style: none;
} */
.form-control{
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    margin:10px;
    text-align: center;
    width: 400px;
    height: 30px;
    border-style: none;
    width: 400px;
    border-radius: 10px;
    padding: 5px;
}
.form-control:focus{
    box-shadow: 0px 0px 10px #00fa60
}

.container form textarea{
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    margin:10px;
    text-align: center;
    width: 400px;
    height: 100px;
    border-radius: 20px;
}
.form-btn{
    margin: 5px;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    color: #00fa60;
    width:125px;
    height: 35px;
    background: transparent;
    border: 3px solid #00fa60;
    border-radius: 20px;
    box-shadow: 1px 1px 5px #00fa60;
    box-shadow: 0px 0px 10px #00fa60;
}
.form-btn:hover{
    transition: .5s ease-in-out;
    background: #00fa60;
    color: black;
    box-shadow: 0px 0px 10px #00fa60
}
.form-btn:active{
    transition: none;
    background: #68ffa2;
    box-shadow: 0px 0px 10px #68ffa2
}
.reset-btn{
    margin: 5px;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    color: white;
    width:125px;
    height: 35px;
    background: transparent;
    border: 3px solid #ff0000;
    border-radius: 20px;
    box-shadow: 1px 1px 5px #ff2e2e;
    box-shadow: 0px 0px 10px #ff2e2e;
}
.reset-btn:hover{
    transition: .5s ease-in-out;
    background: #ff2e2e;
    color: black;
    box-shadow: 0px 0px 10px #ff2e2e
}
.reset-btn:active{
    transition: none;
    background: #ff5e5e;
    border: 3px solid #ff5e5e
}